.reminder {
  margin-bottom: 5%;
}

.text-center {
  margin-bottom: 10%;
}

.quizHeader {
  margin: 3%;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .text-center {
    margin-bottom: 20%;
  }
  .form-row {
    display: block;
  }
}
