.card-group{
    margin-bottom: 6%;
}

.col-4{
    margin-bottom: 3%;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .col-4{
        max-width: 100%;
    }

    .card-group{
        margin-bottom: 17%;
    }
}